// out: false

@import "__pallete.less";

.page__footer {
    background-color: rgb(171, 10, 10);
    padding-top: 62px;
    padding-bottom: 30px;

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            text-decoration: none;
            font: 500 18px @fontS;
            color: white;
            margin-bottom: 20px;
        }
    }

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            margin-bottom: 20px;
        }
    }

    .copyrights {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid white;

        p {
            font: 400 16px @fontS;
            color: white;
        }

        img {
            width: 80px;
        }
    }
}

