// out: false

@import "__pallete.less"; 

.page__header {
    position: absolute;
    width: 100%;
    z-index: 3000;
    padding-top: 30px;

    .social {
        a {
            .icon__social {
                width: 30px;
                margin-bottom: 22px;
            }
            
            &:hover {
                filter: brightness(0) saturate(100%) invert(80%) sepia(68%) saturate(416%) hue-rotate(345deg) brightness(103%) contrast(101%);
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        a {
            text-decoration: none;
            font: 500 18px @fontS;
            color: white;

            .--transition();
            &:hover {
                color: #FFDE59;
            }
        }
    }
}