html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
h1,
h2,
h5,
h6,
figure,
iframe,
p {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMzITpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMIIPpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMGYPpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA72jCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA74TFosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rFosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA10pUpmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDlR4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqD-R4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDFRkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDLBkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDSxkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDYhkfFg.ttf) format('truetype');
}
.button__whatsapp--floating {
  display: inline-block;
  z-index: 175;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  padding: 7px 12px;
  background-color: #2acc1e;
}
.button__whatsapp--floating i {
  font-size: 36px;
  color: white;
}
.page__header {
  position: absolute;
  width: 100%;
  z-index: 3000;
  padding-top: 30px;
}
.page__header .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__header .is--desktop {
    display: flex;
  }
  .page__header .is--desktop .social a {
    transition: all 0.3s linear;
  }
  .page__header .is--desktop .social a .icon__social {
    width: 30px;
    margin-bottom: 22px;
    filter: opacity(0.4);
  }
  .page__header .is--desktop .social a:hover .icon__social {
    filter: opacity(1);
  }
  .page__header .is--desktop .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .page__header .is--desktop .links a {
    text-decoration: none;
    font: 500 18px 'Saira', sans-serif;
    color: white;
    transition: all 0.3s linear;
  }
  .page__header .is--desktop .links a:hover {
    text-decoration: underline;
  }
}
.page__header .is--mobile .navbar__hamburguer {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}
.page__header .is--mobile .navbar__hamburguer i {
  color: white;
  font-size: 30px;
}
.page__header .is--mobile .navbar__overlay {
  background-color: #092d23;
  z-index: 3001;
  display: none;
}
.page__header .is--mobile .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
  margin: 30px 30px 106px 30px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__logo {
  width: 155px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
  font-size: 30px;
  color: white;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  font: 400 15px 'Saira', sans-serif;
  color: white;
  text-decoration: none;
  margin-bottom: 19px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__button {
  margin-top: 40px;
  margin-bottom: 76px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__social {
  width: 130px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__social a {
  text-decoration: none;
  font-size: 23px;
  color: #deb78f;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .page__header .is--mobile {
    display: none;
  }
}
.page__footer {
  background-color: #ab0a0a;
  padding-top: 62px;
  padding-bottom: 30px;
}
.page__footer .logo {
  display: flex;
  justify-content: center;
}
.page__footer .logo .logo__footer {
  width: 250px;
}
.page__footer .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__footer .nav a {
  text-decoration: none;
  font: 500 18px 'Saira', sans-serif;
  color: white;
  margin-bottom: 20px;
  transition: all 0.3s linear;
}
.page__footer .nav a:hover {
  text-decoration: underline;
}
.page__footer .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__footer .social a {
  margin-bottom: 20px;
  transition: all 0.3s linear;
}
.page__footer .social a img {
  width: 35px;
  filter: opacity(0.4);
}
.page__footer .social a:hover .icon__social {
  filter: opacity(1);
}
.page__footer .copyrights {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid white;
}
.page__footer .copyrights p {
  font: 400 16px 'Saira', sans-serif;
  color: white;
}
.page__footer .copyrights img {
  width: 80px;
}
.page__banner {
  background-image: url('../img/banner-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
}
.page__banner .banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__banner .banner__content .logo__banner {
  width: 250px;
}
@media screen and (min-width: 768px) {
  .page__banner .banner__content .logo__banner {
    width: 320px;
  }
}
.page__banner .banner__content h2 {
  font: 600 32px 'League Spartan', sans-serif;
  color: white;
  letter-spacing: 3.2px;
  max-width: 300px;
  text-align: center;
  line-height: 40px;
}
.page__banner .link__down {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.page__banner .link__down .arrow__down {
  width: 35px;
}
.page__banner .link__down:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .page__banner {
    background-image: url('../img/bg-banner.jpg');
    padding-top: 150px;
  }
}
.page__cta {
  background-image: url('../img/bg-atendimento.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top -120px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.page__cta .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__cta .content h2 {
  font: 700 26px 'Saira', sans-serif;
  color: #ab0a0a;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.page__cta .content p {
  font: 500 18px 'Saira', sans-serif;
  color: black;
  letter-spacing: 1.8px;
}
.page__cta .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__cta .button a {
  text-decoration: none;
  color: #ab0a0a;
  font: 700 32px 'League Spartan', sans-serif;
  border: 3px solid #ab0a0a;
  border-radius: 20px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: white;
  transition: all 0.3s linear;
}
.page__cta .button a i {
  font-size: 42px;
  margin-right: 20px;
}
.page__cta .button a p {
  margin-top: 8px;
}
.page__cta .button a:hover {
  background-color: #ab0a0a;
  color: white;
}
.page__services {
  background-color: #ab0a0a;
  background-image: url('../img/bg-services.jpg');
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  padding-top: 70px;
  padding-bottom: 22px;
}
.page__services h2 {
  max-width: 278px;
  font: 700 58px 'League Spartan', sans-serif;
  color: white;
  margin-top: 45px;
  line-height: 60px;
}
.page__services .service {
  display: flex;
  align-items: center;
  margin-left: 48px;
  margin-bottom: 48px;
}
.page__services .service img {
  margin-right: 25px;
  width: 82px;
}
.page__services .service .service__text h3 {
  font: 700 26px 'League Spartan', sans-serif;
  color: white;
}
.page__services .service .service__text p {
  font: 400 14px 'League Spartan', sans-serif;
  color: white;
  line-height: 20px;
}
.page__about {
  background-image: url('../img/bg-about.svg');
  background-repeat: no-repeat;
  background-position: top -150px right -30px;
  background-size: 800px;
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #FEFAF9;
}
.page__about h2 {
  font: 700 58px 'League Spartan', sans-serif;
  color: #ab0a0a;
  text-align: center;
  margin-bottom: 48px;
}
.page__about p {
  color: #393636;
  font: 400 22px 'League Spartan', sans-serif;
  margin-left: 125px;
  line-height: 30px;
  width: 350px;
}
.page__about .photo {
  display: flex;
  justify-content: center;
}
.page__about .photo img {
  max-width: 500px;
}
.page__contact {
  background-image: url('../img/bg-contato.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 62px;
}
.page__contact .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__contact .text h2 {
  font: 800 50px 'Saira', sans-serif;
  color: #ab0a0a;
  line-height: 35px;
}
.page__contact .text p {
  font: 500 26px 'Saira', sans-serif;
  color: black;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.page__contact .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.page__contact .button a {
  text-decoration: none;
  background-color: #ab0a0a;
  border-radius: 15px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  font: 700 24px 'League Spartan', sans-serif;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s linear;
}
.page__contact .button a:hover {
  color: white;
  background-color: #db0d0d;
}
.page__contact .title__contact {
  border-top: 3px solid #ab0a0a;
}
.page__contact .title__contact h3 {
  padding-top: 48px;
  font: 700 42px 'League Spartan', sans-serif;
  color: #ab0a0a;
}
.page__contact .title__contact p {
  font: 400 18px 'League Spartan', sans-serif;
  color: black;
  margin-bottom: 30px;
}
.page__contact input,
.page__contact textarea {
  border: 1px solid #545454;
  border-radius: 10px;
  padding: 20px 30px;
  font: 500 16px 'Saira', sans-serif;
  color: black;
  margin-bottom: 20px;
  width: 100%;
}
.page__contact input::placeholder,
.page__contact textarea::placeholder {
  font: 500 16px 'Saira', sans-serif;
  color: #545454;
}
.page__contact button {
  background-color: #ab0a0a;
  border-radius: 15px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: 700 24px 'League Spartan', sans-serif;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  transition: all 0.3s linear;
}
.page__contact button:hover {
  color: white;
  background-color: #db0d0d;
}
