html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
h1,
h2,
h5,
h6,
figure,
iframe,
p {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvM_oTpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMzITpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMIIPpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v6/kJEnBuEW6A0lliaV_m88ja5Twtx8BWhtkDVmjZvMGYPpBA.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA72jCosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA74TFosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rFosg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA10pUpmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDlR4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqD-R4fFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDFRkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDLBkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDSxkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v10/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDYhkfFg.ttf) format('truetype');
}
.button__whatsapp--floating {
  display: inline-block;
  z-index: 175;
  position: fixed;
  bottom: 5px;
  right: 9px;
  border-radius: 5px;
  padding: 7px 12px;
  background-color: #2acc1e;
  color: #13172d;
}
.button__whatsapp--floating i {
  font-size: 36px;
  color: #191d36;
}
.button__whatsapp--floating .is--desktop {
  display: none;
}
.button__whatsapp--floating:hover i {
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .button__whatsapp--floating {
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
  }
  .button__whatsapp--floating .is--desktop {
    display: inline-block;
    padding-left: 10px;
  }
  .button__whatsapp--floating .is--desktop span {
    display: block;
    color: #13172d;
    font: 500 11px SANS-SERIF;
    text-transform: uppercase;
    letter-spacing: -0.18px;
  }
  .button__whatsapp--floating .is--desktop span.sub {
    font: 900 18px SANS-SERIF;
    letter-spacing: 1.1px;
  }
}
.page__header {
  position: absolute;
  width: 100%;
  z-index: 3000;
  padding-top: 30px;
}
.page__header .social a .icon__social {
  width: 30px;
  margin-bottom: 22px;
}
.page__header .links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.page__header .links a {
  text-decoration: none;
  font: 500 18px 'Saira', sans-serif;
  color: white;
}
.page__footer {
  background-color: #ab0a0a;
  padding-top: 62px;
  padding-bottom: 30px;
}
.page__footer .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__footer .nav a {
  text-decoration: none;
  font: 500 18px 'Saira', sans-serif;
  color: white;
  margin-bottom: 20px;
}
.page__footer .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__footer .social a {
  margin-bottom: 20px;
}
.page__footer .copyrights {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid white;
}
.page__footer .copyrights p {
  font: 400 16px 'Saira', sans-serif;
  color: white;
}
.page__footer .copyrights img {
  width: 80px;
}
.page__banner {
  background-image: url('../img/bg-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;
}
.page__banner .banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__banner .banner__content .logo__banner {
  width: 400px;
}
.page__banner .banner__content h2 {
  font: 600 32px 'League Spartan', sans-serif;
  color: white;
  letter-spacing: 3.2px;
  max-width: 300px;
  text-align: center;
  line-height: 40px;
}
.page__banner .link__down {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 48px;
}
.page__cta {
  background-image: url('../img/bg-atendimento.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top -120px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.page__cta .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__cta .content h2 {
  font: 700 26px 'Saira', sans-serif;
  color: #ab0a0a;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.page__cta .content p {
  font: 500 18px 'Saira', sans-serif;
  color: black;
  letter-spacing: 1.8px;
}
.page__cta .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__cta .button a {
  text-decoration: none;
  color: #ab0a0a;
  font: 700 32px 'League Spartan', sans-serif;
  border: 3px solid #ab0a0a;
  border-radius: 20px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: white;
}
.page__cta .button a i {
  font-size: 42px;
  margin-right: 20px;
}
.page__cta .button a p {
  margin-top: 8px;
}
.page__services {
  background-color: #ab0a0a;
  background-image: url('../img/bg-services.jpg');
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  padding-top: 70px;
  padding-bottom: 22px;
}
.page__services h2 {
  max-width: 278px;
  font: 700 58px 'League Spartan', sans-serif;
  color: white;
  margin-top: 45px;
  line-height: 60px;
}
.page__services .service {
  display: flex;
  align-items: center;
  margin-left: 48px;
  margin-bottom: 48px;
}
.page__services .service img {
  margin-right: 25px;
  width: 82px;
}
.page__services .service .service__text h3 {
  font: 700 26px 'League Spartan', sans-serif;
  color: white;
}
.page__services .service .service__text p {
  font: 400 14px 'League Spartan', sans-serif;
  color: white;
  line-height: 20px;
}
.page__about {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: #FEFAF9;
}
.page__about h2 {
  font: 700 58px 'League Spartan', sans-serif;
  color: #ab0a0a;
  text-align: center;
  margin-bottom: 48px;
}
.page__about p {
  color: #393636;
  font: 400 22px 'League Spartan', sans-serif;
  margin-left: 125px;
  line-height: 30px;
  width: 350px;
}
.page__about .photo {
  display: flex;
  justify-content: center;
}
.page__about .photo img {
  max-width: 500px;
}
.page__contact {
  background-image: url('../img/bg-contato.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 62px;
}
.page__contact .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page__contact .text h2 {
  font: 800 50px 'Saira', sans-serif;
  color: #ab0a0a;
  line-height: 35px;
}
.page__contact .text p {
  font: 500 26px 'Saira', sans-serif;
  color: black;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.page__contact .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.page__contact .button a {
  text-decoration: none;
  background-color: #ab0a0a;
  border-radius: 15px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  font: 700 24px 'League Spartan', sans-serif;
  color: white;
  text-transform: uppercase;
}
.page__contact .title__contact {
  border-top: 3px solid #ab0a0a;
}
.page__contact .title__contact h3 {
  padding-top: 48px;
  font: 700 42px 'League Spartan', sans-serif;
  color: #ab0a0a;
}
.page__contact .title__contact p {
  font: 400 16px 'League Spartan', sans-serif;
  color: black;
  margin-bottom: 30px;
}
.page__contact input,
.page__contact textarea {
  border: 1px solid #545454;
  border-radius: 10px;
  padding: 20px 30px;
  font: 500 16px 'Saira', sans-serif;
  color: black;
  margin-bottom: 20px;
  width: 100%;
}
.page__contact input::placeholder,
.page__contact textarea::placeholder {
  font: 500 16px 'Saira', sans-serif;
  color: #545454;
}
.page__contact button {
  background-color: #ab0a0a;
  border-radius: 15px;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: 700 24px 'League Spartan', sans-serif;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
}
